<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449317403559-r89pdb5q6gkfvur2e2av527vg5aa2hqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449317403559-r89pdb5q6gkfvur2e2av527vg5aa2hqt</string>
	<key>API_KEY</key>
	<string>AIzaSyAV9AZQZC4L2tLlqrVgs6dFIf5jBqNYnJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>449317403559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meSomm.wine</string>
	<key>PROJECT_ID</key>
	<string>mesomm-f3e15</string>
	<key>STORAGE_BUCKET</key>
	<string>mesomm-f3e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449317403559:ios:ef26db12180d39333b5482</string>
</dict>
</plist>